<div class="container-width:100%" > 

    <div class="row" >
        <div class="col" style="margin:20px">
            <input class="input is-rounded" type="text" placeholder="Rounded input">
        </div>
      
      </div>

      <div class="container-width:100%" >

        <div class="row" style=" max-height: 80px" style="/* From https://css.glass */
        background: rgba(255, 255, 255, 0.31);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 1);">

            <div class="col-3" style=" display: grid; align-items: center; ">

                <div class="imagen_chat" style="border: 1px solid red; width:50px; height:50px; border-radius:50%;" >
                    <img src="" alt="">
                </div>

            </div>

            <div class="col-9">

                <div class="row">
                    <div class="col">
                        <p style="font-weight: 600;">Bold text.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p style="
                        font-weight: 300;
                        font-size: 14px;   
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        max-width: 190px;">Light weight jsadjasj  sadlas</p>

                    </div>
                </div>

            </div>
          
          </div>

    </div>
  

</div> 