<div class="chat" >
    <div class="message">
 
        <div class="message-inner">
            <div class="message-body">
                <div class="message-content">
                    <div class="message-text">
                        <p>Hey, </p>
                        <div class="message-footer">
                            <span class="extra-small text-muted">08:45 PM</span>
                        </div>
                    </div>
                </div>
            </div>
    
          
        </div>
    </div>
    
    
    
    
    
    <div class="message message-out">
     
        <div class="message-inner">
            <div class="message-body">
                <div class="message-content">
                    <div class="message-text">
                        <p>Hey, Marshall! How are you? Can you please change the color theme of the website to pink and purple? 😂</p>
                        <div class="message-footer">
                            <span class="extra-small text-muted">08:45 PM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="message">
     
        <div class="message-inner">
            <div class="message-body">
                <div class="message-content">
                    <div class="message-text">
                        <p>Hey, </p>
                        <div class="message-footer">
                            <span class="extra-small text-muted">08:45 PM</span>
                        </div>
                    </div>
                </div>
            </div>
    
          
        </div>
    </div>
    
    
    <div class="message message-out">
     
        <div class="message-inner">
            <div class="message-body">
                <div class="message-content">
                    <div class="message-text">
                        <p>Hey, Marshall! How are you? Can you please change the color theme of the website to pink and purple? 😂</p>
                        <div class="message-footer">
                            <span class="extra-small text-muted">08:45 PM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    
    <div class="message message-out">
     
        <div class="message-inner">
            <div class="message-body">
                <div class="message-content">
                    <div class="message-text">
                        <p>Hey, Marshall! How are you? Can you please change the color theme of the website to pink and purple? 😂</p>
                        <div class="message-footer">
                            <span class="extra-small text-muted">08:45 PM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <div class="message message-out">
     
        <div class="message-inner">
            <div class="message-body">
                <div class="message-content">
                    <div class="message-text">
                        <p>Hey, Marshall! How are you? Can you please change the color theme of the website to pink and purple? 😂</p>
                        <div class="message-footer">
                            <span class="extra-small text-muted">08:45 PM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
