/*! CSS Used from: https://offsetcode.com/themes/messenger/2.1.0/assets/css/template.bundle.css */
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box;}
hr{margin:1rem 0;color:#f5f8fb;background-color:currentColor;border:0;opacity:1;}
hr:not([size]){height:2px;}
p{margin-top:0;margin-bottom:.5rem;}
ul{padding-left:2rem;}
ul{margin-top:0;margin-bottom:1rem;}
a{color:#2787f5;text-decoration:underline;}
a:hover{color:#1f6cc4;}
img,svg{vertical-align:middle;}
[role=button]{cursor:pointer;}
::-moz-focus-inner{padding:0;border-style:none;}
.dropdown{position:relative;}
.dropdown-menu{position:absolute;z-index:1000;display:none;min-width:10rem;padding:.5rem 0;margin:0;font-size:.9375rem;color:#95aac9;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:0 solid #f5f8fb;border-radius:.6rem;}
.dropdown-divider{height:0;margin:.5rem 0;overflow:hidden;border-top:1px solid #f5f8fb;}
.dropdown-item{display:block;width:100%;padding:.5rem 1rem;clear:both;font-weight:400;color:#95aac9;text-align:inherit;text-decoration:none;white-space:nowrap;background-color:transparent;border:0;}
.dropdown-item:focus,.dropdown-item:hover{color:#596679;background-color:#f5f8fb;}
.dropdown-item:active{color:#95aac9;text-decoration:none;background-color:#f5f8fb;}
.dropdown-item:disabled{color:#95aac9;pointer-events:none;background-color:transparent;}
.d-flex{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;}
.align-items-center{-webkit-box-align:center!important;-ms-flex-align:center!important;align-items:center!important;}
.me-auto{margin-right:auto!important;}
.text-danger{--bs-text-opacity:1;color:rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important;}
.text-muted{--bs-text-opacity:1;color:#bfccdf!important;}
a{-webkit-transition:all .1s ease-in-out;transition:all .1s ease-in-out;text-decoration:none;}
a.text-muted:hover{opacity:.8;}
p:last-child,ul:last-child{margin-bottom:0;}
.extra-small{font-size:.665em;}
:focus{outline:0;}
::-moz-focus-inner{border:0;}
.dropdown-menu{-webkit-box-shadow:0 .5rem 1.875rem rgba(0,0,0,.05);box-shadow:0 .5rem 1.875rem rgba(0,0,0,.05);padding:.5rem;}
.dropdown-item{border-radius:.6rem;}
.avatar{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;}
.avatar .avatar-img{max-width:100%;height:auto;}
.avatar,.avatar .avatar-img{border-radius:50%;}
.avatar{height:44px;width:44px;}
.avatar-responsive.avatar{height:26px;width:26px;}

@media (min-width:576px){
.avatar-responsive.avatar{height:34px;width:34px;}
}
@media (min-width:768px){
.avatar-responsive.avatar{height:44px;width:44px;}
}
.icon{display:inline-block;line-height:1;}
.icon>svg{height:1rem;width:1rem;}
.message+.message{margin-top:1rem;}
@media (min-width:992px){
.message+.message{margin-top:1.5rem;}
}
.message{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;}
.message.message-out{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;}
.message-inner{margin-left:.5rem;}
@media (min-width:768px){
.message-inner{margin-left:1rem;}
}
.message-out .message-inner{margin-left:0;margin-right:.5rem;}
@media (min-width:768px){
.message-out .message-inner{margin-right:1rem;}
}
.message-content{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.message-out .message-content{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;}
.message-text{overflow:hidden;margin-right:.25rem;}
.message-out .message-text{margin-left:.25rem;margin-right:0;}
.message-text{background:#f6f9fb;border-radius:.6rem;padding:1rem 1.25rem;color:#95aac9;}
.message-out .message-text{background:#2787f5;border-radius:.6rem;color:#fff;}
.message-footer{line-height:1.3;margin-top:.25rem;}
.message-out .message-footer{text-align:right;}
.message-inner{max-width:100%;min-width:0;-webkit-box-flex:1;-ms-flex:1;flex:1;}
@media (min-width:992px){
.message-inner{max-width:70%;}
}
@media (min-width:1200px){
.message-inner{max-width:50%;}
}
@media (min-width:1440px){
.message-inner{max-width:45%;}
}
/*! CSS Used from: https://offsetcode.com/themes/messenger/2.1.0/assets/css/template.dark.bundle.css ; media=(prefers-color-scheme: dark) */
@media (prefers-color-scheme: dark){
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box;}
hr{margin:1rem 0;color:#1e2126;background-color:currentColor;border:0;opacity:1;}
hr:not([size]){height:2px;}
p{margin-top:0;margin-bottom:.5rem;}
ul{padding-left:2rem;}
ul{margin-top:0;margin-bottom:1rem;}
a{color:#2787f5;text-decoration:underline;}
a:hover{color:#1f6cc4;}
img,svg{vertical-align:middle;}
[role=button]{cursor:pointer;}
::-moz-focus-inner{padding:0;border-style:none;}
.dropdown{position:relative;}
.dropdown-menu{position:absolute;z-index:1000;display:none;min-width:10rem;padding:.5rem 0;margin:0;font-size:.9375rem;color:#a7a6a8;text-align:left;list-style:none;background-color:#16191c;background-clip:padding-box;border:0 solid #1e2126;border-radius:.6rem;}
.dropdown-divider{height:0;margin:.5rem 0;overflow:hidden;border-top:1px solid #1e2126;}
.dropdown-item{display:block;width:100%;padding:.5rem 1rem;clear:both;font-weight:400;color:#a7a6a8;text-align:inherit;text-decoration:none;white-space:nowrap;background-color:transparent;border:0;}
.dropdown-item:focus,.dropdown-item:hover{color:#cacacb;background-color:#1e2126;}
.dropdown-item:active{color:#a7a6a8;text-decoration:none;background-color:#1e2126;}
.dropdown-item:disabled{color:#757476;pointer-events:none;background-color:transparent;}
.d-flex{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;}
.align-items-center{-webkit-box-align:center!important;-ms-flex-align:center!important;align-items:center!important;}
.me-auto{margin-right:auto!important;}
.text-danger{--bs-text-opacity:1;color:rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important;}
.text-muted{--bs-text-opacity:1;color:#757476!important;}
a{-webkit-transition:all .1s ease-in-out;transition:all .1s ease-in-out;text-decoration:none;}
a.text-muted:hover{opacity:.8;}
p:last-child,ul:last-child{margin-bottom:0;}
.extra-small{font-size:.665em;}
:focus{outline:0;}
::-moz-focus-inner{border:0;}
.dropdown-menu{-webkit-box-shadow:0 .5rem 1.875rem rgba(0,0,0,.2);box-shadow:0 .5rem 1.875rem rgba(0,0,0,.2);padding:.5rem;}
.dropdown-item{border-radius:.6rem;}
.avatar{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;}
.avatar .avatar-img{max-width:100%;height:auto;}
.avatar,.avatar .avatar-img{border-radius:50%;}
.avatar{height:44px;width:44px;}
.avatar-responsive.avatar{height:26px;width:26px;}
@media (min-width:576px){
.avatar-responsive.avatar{height:34px;width:34px;}
}
@media (min-width:768px){
.avatar-responsive.avatar{height:44px;width:44px;}
}
.icon{display:inline-block;line-height:1;}
.icon>svg{height:1rem;width:1rem;}
.message+.message{margin-top:1rem;}
@media (min-width:992px){
.message+.message{margin-top:1.5rem;}
}
.message{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;}
.message.message-out{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;}
.message-inner{margin-left:.5rem;}
@media (min-width:768px){
.message-inner{margin-left:1rem;}
}
.message-out .message-inner{margin-left:0;margin-right:.5rem;}
@media (min-width:768px){
.message-out .message-inner{margin-right:1rem;}
}
.message-content{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.message-out .message-content{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;}
.message-text{overflow:hidden;margin-right:.25rem;}
.message-out .message-text{margin-left:.25rem;margin-right:0;}
.message-text{background:#1a1d21;border-radius:.6rem;padding:1rem 1.25rem;color:#a7a6a8;}
.message-out .message-text{background:#2787f5;border-radius:.6rem;color:#fff;}
.message-footer{line-height:1.3;margin-top:.25rem;}
.message-out .message-footer{text-align:right;}
.message-inner{max-width:100%;min-width:0;-webkit-box-flex:1;-ms-flex:1;flex:1;}
@media (min-width:992px){
.message-inner{max-width:70%;}
}
@media (min-width:1200px){
.message-inner{max-width:50%;}
}
@media (min-width:1440px){
.message-inner{max-width:45%;}
}
}

.message-body{
    border-style:none;
}

.message {
    background: none;
    margin: 0px;
}

.message-text{
    padding: 0.4rem .8rem;
}

.message-inner{
    margin-bottom: -50px;
}