

<!-- <div class="hero is-fullheight contenido"> -->

<!-- 
  </div> -->
  <div class="container">
</div>
  <div class="h-100 row align-items-center justify-content-center" >
    <div class="h-75 w-75 row justify-content-center" 
    style="
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;"
    >

    <div class="row">
        <div class="col-xl-3 .col-md-12" style="background: red;">
          1 of 2
        </div>
        <div class="col-xl-9" style="background: green;">
          2 of 2
        </div>
      </div>


    </div>

  </div>



<!-- 

    <div class="columns is-desktop ">

        <div class="column column is-one-quarter is-hidden-mobile colorContacto">
            contactos
        </div>
    
        <div class="column is-three-quarters colorContacto" >
            <input class="input is-rounded" type="text" placeholder="Rounded input">
        </div>
    
    </div>
    


 -->
