

<!-- <div class="hero is-fullheight contenido"> -->

<!-- 
  </div> -->

<!--   <div class="h-75 w-75 row justify-content-center "  -->

  <div class="h-100 row align-items-center justify-content-center " >
    <div class="h-75 w-75 row justify-content-center" 

    style="
    overflow:hidden;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;"
    #cambiarTamaño
    (window:resize)="onResize($event)"
  
    >

    

        <div class="col-xl-3 d-none d-xl-block">

          <app-contactos></app-contactos>
        </div>

        <div class="col-xl-9" > 

          <div class="row" style="height: 10%;">
            <div class=" col" >
              <app-visual-contacto></app-visual-contacto>
            </div>
          </div>

          <div class="row" style="height: 75%;  overflow-y: scroll;">
            <div class=" col" style=" max-height:500px">
              <app-vista-chat></app-vista-chat>
            </div>
          </div>

          <div class="row row align-items-center justify-content-center" style="height: 15%;">
            <div class="col" > <!-- ACA VA SER EL INPUT CHAT -->
              <app-input-chat></app-input-chat>
            </div>
          </div>

        </div>




    </div>

  </div>



<!-- 

    <div class="columns is-desktop ">

        <div class="column column is-one-quarter is-hidden-mobile colorContacto">
            contactos
        </div>
    
        <div class="column is-three-quarters colorContacto" >
            <input class="input is-rounded" type="text" placeholder="Rounded input">
        </div>
    
    </div>
    


 -->
