<div class="h-100 container" style="/* From https://css.glass */
background: rgba(255, 255, 255, 0.79);
border-radius: 0 0 16px 16px ;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);">

    <div class="h-100 row align-items-center " >

      <div class=" col" >
        <div class="row">
            <div class="col-3">
                <div class="imagen_chat" style="border: 1px solid red; width:60px; height:60px; border-radius:50%;" >
                    <img src="" alt="">
                </div>
              </div>
              <div class="col-9" style="display: grid; align-content: center;">
                <h4 style="font-weight: 400">Tomas</h4>
              </div>
        </div>
       
      </div>
      
      <div class="col">
       
      </div>
    </div>
  </div>